.card_container{
  display: grid;
  grid-template-columns: auto auto auto;
    /* flex-direction: row;  display: flex; */
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
}
.card1{
    margin: 10px;
}
.card_heading{
    text-align: center;
    margin-top: 30px;
}
.nxt-page-Div{
    
    display: flex;
    justify-content: center;
}
.nxt-page-Div1{
    padding: 10px;
}
.card-img-top{
    transition: 0.3s ;
    width: 287px;
    height:200px;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: 0.3s;
    overflow: hidden;
}
.division_des_inside{
    position: fixed;
    top: 55px;
    height: 80%;
    background-color:white;
    z-index: 20;
    width: 95%;
    scroll-behavior: none;
    margin: 20px;
    left: -100%;
    transition: 1s;
    box-shadow:  20px 20px 50px 10px rgb(122, 110, 112) inset;
    border-radius: 10px;
    overflow-y: auto;
}
.division_des1_ouside{
    position: fixed;
    overflow-y: auto;
    top: 55px;
    height: 80%;
    background-color:white;
    z-index: 20;
    width: 95%;
    scroll-behavior: none;
    margin: 20px;
    left: 0;
    transition: 1s ;
    box-shadow:  20px 20px 50px 10px rgb(122, 110, 112) inset;
    border-radius: 10px;
}
.description{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 20px;

}
.img_container{
    width: 40vw;
    height: 40vh;
    margin: 20px;

}
.img_container img{
    object-position: center;
    object-fit: contain;
}
.descri_iimg{
    width: 100%;
    height: 100%;
}

/* toggle cross bar */
.times-circle{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 17px;
    color: white;
}

.division_des1_ouside::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  /* .division_des1_ouside::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%); 
  } */
   
  /* Handle */
  .division_des1_ouside::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .division_des1_ouside::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 155, 248,0.5); 
  }


  .division_des_inside::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  /* .division_des_ouside::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%); 
  } */
   
  /* Handle */
  .division_des_inside::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .division_des_inside::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 155, 248,0.5); 
  }

  
  

 

  
   



@media screen and (max-width:800px){
    .card_container{
        display: flex;
        flex-direction: column;
    }
    .description{
        flex-direction: column;
        align-items: center;
    }
}